*{}
body{
    background-color: aqua;
}
h1{
    text-align: center;
}
.main{
    width:80%;
    max-width: 900px;
    margin: 0 auto;
    
}
table{
    width:100%;
}
table tr td{
    /*border:1px solid black;*/
    width:33%;
    text-align: center;
    padding: 1%;
}
.eredmenyek{
    color: blue;
    font-weight: bold;
    font-size: xx-large;
}
.kep{
    width:100%;
}
.gep{
    width:50%;
}
.mehet{
    
    width: 100%;
    background-color: rgb(88, 236, 75);
    border-radius: 40px;
    margin: 0 auto;
    font-family: fantasy;
    font-size: 200%;
    color: fuchsia;
    text-align: center;
    padding: 1%;
    display: block;

}
.ujra{
    display: none;
}