*{}
.tablazat{
    width:80%;
    margin: 20px auto;
}
table{
    width: 100%;

}
table tr td{
    border: 1px solid black;
}
.bal,.jobb{
    width: 40px;
}
.bal img,.jobb img{
    width: 200px;
}
.kep{
    text-align: center;
    padding: 20px;
}
.imgc{
    border: 3px solid rgb(131, 111, 82);
    border-radius:  20px;
    width: 50%;
    box-shadow: 5px 5px 10px darkslategrey;
}
.belyeg{
    text-align: center;
}
.belyeg img{
    width: 80px;
    box-shadow: 5px 5px 10px darkslategrey;
    border-radius:  20px;
    margin: 10px 100px;

}
.imgu{
    border: 3px solid rgb(6, 2, 250);
}
.imge{
    border: 3px solid rgb(253, 4, 87);
}